<section class="content default-page-background" *ngIf="!loading; else loadingTpl">
  <div class="chat-container">
    <div class="messages">
      <div class="message" *ngFor="let i of messagesData">
        <p class="message-info" *ngIf="i.userId == tokenData.id">You • {{i.createdAt}}</p>
        <p class="message-info" *ngIf="i.userId != tokenData.id">{{i.userName}} • {{i.createdAt}}</p>
        <span class="message-content user-message" *ngIf="i.userId == tokenData.id">{{i.content}}</span>
        <span class="message-content" *ngIf="i.userId != tokenData.id">{{i.content}}</span>
      </div>
    </div>
    <div class="input-area">
      <i class="input-plus-button fa-solid fa-plus"></i>
      <input type="text" [(ngModel)]="newMessage" placeholder="Enter the text..." (keydown.enter)="createMessage()" >
      <button (click)="createMessage()"><i class="fa-solid fa-arrow-up-long"></i></button>
    </div>
  </div>
</section>

<ng-template #loadingTpl>
  <div class="loading-div default-page-background">
    <app-loader></app-loader>
  </div>
</ng-template>