.content {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.chat-container {
    padding-top: 90px;
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
    justify-content: space-between;
    flex-direction: column;
    background-color: #161616;
    margin-bottom: 15px;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border: 2px solid #313131;
}

.input-area {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5px;
    padding: 10px;
    background-color: white;
    margin-bottom: 5px;
    border-radius: 2rem;
}

.input-area input {
    border: none;
    padding: 10px;
    font-size: 14px;
    width: 20vw;
}

.input-area input:focus {
    outline: none;
}

.input-area button {
    border: none;
    cursor: pointer;
    font-size: 13px;
    padding: 9px;
    border-radius: 50%;
    color: white;
    background-color: var(--dark-background-color);
    transition: 0.3s all ease;
}

.input-area button:hover {
    background-color: rgb(44, 43, 43);
}

.buttons {
    display: flex;
    gap: 4px;
}

.messages {
    flex: 1;
    overflow-y: auto;
    scrollbar-gutter: stable;
    padding: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.messages::-webkit-scrollbar {
    width: 6px;
}

.messages::-webkit-scrollbar-track {
    background: transparent;
}

.messages::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 10px;
}

.message {
    gap: 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.message-content {
    max-width: 400px;
    padding: 10px 15px 10px 15px;
    background-color: rgb(255, 255, 255);
    border-radius: 1.2rem;
    border-bottom-left-radius: .2rem;
    font-size: 18px;
    display: inline-block;
}

.user-message {
    background-color: #182136;
    color: #ffffff;
}

.message-info {
    font-weight: bold;
    position: relative;
    left: 10px;
    color: rgb(214, 211, 211);
    font-size: 9px;
}

.input-plus-button {
    cursor: pointer;
    transition: .3s all ease;
}

.input-plus-button:hover {
    transform: rotate(180deg);
}

.loading-div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}