<section class="content default-page-background">
  <div class="chat-container" *ngIf="!loading; else loadingTpl">
    <p><span><i class="fa-solid fa-arrow-left"></i></span></p>
    <div class="messages">
      <div class="message" *ngFor="let i of messagesData">
        <p class="message-info">{{i.id}} • {{i.createdAt}}</p>
        <p class="message-content">{{i.content}}</p>
      </div>
    </div>
    <div class="input-area">
      <i class="fa-solid fa-plus"></i>
      <input type="text" placeholder="Enter the text..." (keypress.enter)="createMessage()">   
      <button (click)="createMessage()"><i class="fa-solid fa-arrow-up-long"></i></button>
    </div>
  </div>
</section>

<ng-template #systemUserMessage>
  <div class="message">
    <p class="message-info">You • 10/10/0000</p>
    <p class="message-content mymessage">Hello Im' nikoloz, its an test message</p>
  </div>
</ng-template>

<ng-template #loadingTpl>
  <app-loader></app-loader>
</ng-template>