.content {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.chat-container {
    width: 40%;
    height: 98%;
    display: flex;
    align-items: center;
    overflow: hidden;
    justify-content: space-between;
    flex-direction: column;
    background-color: #161616;
    padding: 10px 10px 0px 10px;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border-top: none !important;
    border: 2px solid #313131;
}

/* input */

.input-area {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 8px;
    margin-bottom: 8px;
    padding: 10px;
    background-color: white;
    border-radius: 2rem;
}

.input-area input {
    border: none;
    padding: 10px;
    font-size: 14px;
    width: 16vw;
}

.input-area input:focus {
    outline: none;
}

.input-area button {
    border: none;
    cursor: pointer;
    font-size: 13px;
    padding: 9px;
    border-radius: 50%;
    color: white;
    background-color: var(--dark-background-color);
    transition: 0.3s all ease;
}

.input-area button:hover {
    background-color: rgb(44, 43, 43);
}

/* chat info */

.chat-info {
    text-align: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 10px;
}

.title {
    align-items: center;
    font-size: 20px;
    display: flex;
    color: white;
    gap: 5px;
}

.back-btn {
    cursor: pointer;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}

.chat-info-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    font-size: 18px;
}

.chat-info-buttons p {
    cursor: pointer;
    transition: .3s all ease;
    color: white;
}

.chat-info-buttons p:hover {
    color: rgb(200, 200, 200);
}

/* messages */

.messages {
    padding: 5px;
    flex: 1;
    overflow-y: auto;
    scrollbar-gutter: stable;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.messages::-webkit-scrollbar {
    width: 6px;
}

.messages::-webkit-scrollbar-track {
    background: transparent;
}

.messages::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 10px;
}

.message {
    display: flex;
    flex-direction: column;
    margin-bottom: 2px;
}

.message.own {
    align-items: flex-end;
}

.message:not(.own) {
    align-items: flex-start;
}

.message-content.own {
    background-color: #182136 !important;
    color: #ffffff;
    border-radius: 1.2rem;
    border-bottom-right-radius: .2rem;
}

.message-content {
    background-color: white;
    max-width: 400px;
    padding: 10px 15px;
    background-color: rgb(255, 255, 255);
    border-radius: 1.2rem;
    border-bottom-left-radius: .2rem;
    font-size: 18px;
}

.user-message {
    background-color: #182136;
    color: #ffffff;
}

.message-info {
    font-weight: bold;
    margin-bottom: 4px;
    color: rgb(214, 211, 211);
    font-size: 9px;
}

.no-messages {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: white;
}

.no-messages-title {
    font-size: 30px;
}

.no-messages-desc {
    
}

/* loader */

.loading-div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}