<section class="content default-page-background" *ngIf="!loading; else loadingTpl">
  <div class="chat-container">
    <div class="chat-info">
      <div class="title">
        <i class="back-btn fa-solid fa-arrow-left-long"  routerLink="/chats"></i>
        <p>{{chatData.name}}</p>
      </div>
      <div class="chat-info-buttons">
        <p (click)="notImplemented()"><i class="fa-solid fa-user-plus"></i></p>
        <p (click)="notImplemented()"><i class="fa-solid fa-circle-info"></i></p>
        <p (click)="quitFromChat()"><i class="fa-solid fa-arrow-right-from-bracket"></i></p>
      </div>
    </div>
    <div class="messages" *ngIf="messagesData.length > 0; else noMessages">
      <div class="message" *ngFor="let i of messagesData">
        <p class="message-info" *ngIf="i.userId == tokenData.id">You • {{i.createdAt}}</p>
        <p class="message-info" *ngIf="i.userId != tokenData.id">{{i.userName}} • {{i.createdAt}}</p>
        <span class="message-content user-message" *ngIf="i.userId == tokenData.id">{{i.content}}</span>
        <span class="message-content" *ngIf="i.userId != tokenData.id">{{i.content}}</span>
      </div>
    </div>
    <div class="input-area">
      <input type="text" [(ngModel)]="newMessage" placeholder="Enter the text..." (keydown.enter)="createMessage()" >
      <button (click)="createMessage()"><i class="fa-solid fa-arrow-up-long"></i></button>
    </div>
  </div>
</section>

<ng-template #loadingTpl>
  <div class="loading-div default-page-background">
    <app-loader></app-loader>
  </div>
</ng-template>

<ng-template #noMessages>
  <div class="no-messages">
    <p class="no-messages-title text-gradient">There are not any messages</p>
    <p class="no-messages-desc">create first one right now!</p>
  </div>
</ng-template>