.content {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.chat-container {
    padding-top: 90px;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    background-color: var(--ui-background-color);
    margin-bottom: 10px;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.input-area {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    padding: 10px;
    background-color: white;
    margin-bottom: 20px;
    border-radius: 2rem;
}

.input-area input {
    border: none;
    padding: 10px;
    font-size: 14px;
    width: 20vw;
}

.input-area input:focus {
    outline: none;
}

.input-area button {
    border: none;
    cursor: pointer;
    font-size: 13px;
    padding: 9px;
    border-radius: 50%;
    color: white;
    background-color: var(--dark-background-color);
}

.buttons {
    display: flex;
    gap: 4px;
}

.messages {
    flex: 1;
    overflow-y: auto;   
    padding: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.message {
    gap: 3px;
    display: flex;
    flex-direction: column;
    max-width: 500px;
    min-width: 500px;
}

.message-content {
    padding: 10px 15px 10px 15px;
    min-width: 200px;
    background-color: rgb(255, 255, 255);
    border-radius: 1.2rem;
}

.message-info {
    position: relative;
    left: 10px;
    color: rgb(204, 201, 201);
    font-size: 9px;
}