<div class="video-container">
    <video autoplay muted loop playsinline #bgVid>
        <source src="background.mp4" type="video/mp4">
    </video>
    <div class="overlay">
        <section class="content">
            <div class="home-page">
                <div class="title">
                    <span class="badge">Fast • Secure • Real-time</span>
                    <p class="text-gradient">The best messenger website.</p>
                    <p class="asd">Nikoloz's chat.</p>
                </div>
                <p class="description">Welcome to Solar Chats
                    Connect with people from around the world, share ideas, make friends, and enjoy real-time
                    conversations in a safe and friendly environment. Solar Chats is your space to chat, connect, and
                    grow your network.</p>
                <div class="buttons">
                    <p class="button ctm-btn" routerLink="/register">Get started</p>
                    <p class="button ctm-btn-2" (click)="scrollToSection()">Learn more</p>
                </div>
            </div>
        </section>
    </div>
</div>
<div class="home-page-about" id="aboutHpa">
    <div class="hpa-content">
        <div class="info-card">
        </div>
    </div>
</div>