.small-nav {
    background-color: rgb(65, 65, 65);
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: "Roboto", sans-serif;
    color: rgb(226, 31, 31);
}

/* background styles */

/* default styles */
.content {
    display: flex;
    align-items: center;
    justify-content: center;
    /* backgorund */
    width: 100%;
    height: 100%;
}

.home-page {
    width: 70%;
    height: 100vh;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.title {
    margin-top: -100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.title p {
  font-size: 55px;
  font-family: "Oxygen", sans-serif;
  color: rgb(236, 236, 236);
}

.asd {
    font-size: 50px !important;
}

.description {
    margin-top: 30px;
    color: rgb(236, 236, 236);
    font-family: "Roboto", sans-serif;
    max-width: 600px;
    text-align: center;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 50px;
}

.button {
    font-family: "Oxygen", sans-serif;
    padding: 15px 20px 15px 20px;
    border: 3px solid;
    color: white;
    background-color: transparent;
    cursor: pointer;
}

.badge {
  padding: 6px 14px;
  border-radius: 999px;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  background: rgba(255, 255, 255, 0.1);
  color: #ddd;
  margin-bottom: 25px;
  backdrop-filter: blur(6px);
}
