.small-nav {
    background-color: rgb(65, 65, 65);
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: "Roboto", sans-serif;
    color: rgb(226, 31, 31);
}

/* background styles */

.video-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;

}

.video-container video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    z-index: -1;
}

.content {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
}

/* overlay */

.overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.45);
}


/* default styles */

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.home-page {
    width: 70%;
    height: 100vh;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.title {
    margin-top: -100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.title p {
    font-size: 55px;
    font-family: "Oxygen", sans-serif;
    color: rgb(236, 236, 236);
}

.asd {
    font-size: 50px !important;
}

.description {
    margin-top: 30px;
    color: rgb(236, 236, 236);
    font-family: "Oxygen", sans-serif;
    max-width: 600px;
    text-align: center;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 50px;
}

.button {
    text-decoration: none !important;
    font-family: "Oxygen", sans-serif;
    padding: 15px 20px 15px 20px;
    color: white;
    background-color: transparent;
    cursor: pointer;
    border-radius: 8px;
    border: 2px solid rgb(87, 87, 87);
    transition: 0.3s all ease;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
}

.button:hover {
    transform: translateY(-3px);
}

.ctm-btn {
    border: none !important;
    padding: 17px 22px 17px 22px !important;
    background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
}

.badge {
    z-index: 0;
    padding: 6px 14px;
    border-radius: 999px;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    background: rgba(255, 255, 255, 0.1);
    color: #ddd;
    margin-bottom: 25px;
    backdrop-filter: blur(6px);
}

/* about section styles*/

.home-page-about {
    width: 100%;
    height: 100vh;
    background-color: rgb(12, 12, 12);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.hpa-content {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info-card {
    border-radius: 1.5rem;
    width: 100%;
    height: auto;
    background-color: white;
}

/* --- Responsive Styles --- */