.small-nav {
    background-color: rgb(65, 65, 65);
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: "Roboto", sans-serif;
    color: rgb(226, 31, 31);
}

/* background styles */

/* default styles */
.content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    /* backgorund */
    width: 100%;
  height: 100%;
  --color: rgba(56, 56, 56, 0.3);
  background-color: var(--dark-background-color);
  background-image: linear-gradient(0deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%,transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%,transparent),
      linear-gradient(90deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%,transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%,transparent);
  background-size: 55px 55px;
}

.home-page {
    width: 70%;
    height: 96vh;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.title {
    margin-top: -100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.text-gradient {
    background: linear-gradient(90deg,rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
    -webkit-background-clip: text;  /* for Chrome, Safari */
    -webkit-text-fill-color: transparent;
    background-clip: text;          /* for Firefox */
    display: inline-block;          /* ensures correct clipping */
}


.title p {
  font-size: 55px;
  font-family: "Oxygen", sans-serif;
  color: rgb(236, 236, 236);
}

.asd {
    font-size: 50px !important;
}

.description {
    margin-top: 30px;
    color: rgb(236, 236, 236);
    font-family: "Roboto", sans-serif;
    max-width: 600px;
    text-align: center;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 50px;
}

.border-gradient {
    transition: 0.3s all ease;
    border-image: linear-gradient(90deg,rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%) 1 !important;
}

.button {
    font-family: "Oxygen", sans-serif;
    padding: 15px 20px 15px 20px;
    border: 3px solid;
    color: white;
    background-color: transparent;
    cursor: pointer;
}
