<nav class="small-nav">
    <p>Beta testing</p>
</nav>
<section class="content">
    <div class="home-page">
        <div class="title">
            <p class="text-gradient">The best messenger website.</p>
            <p class="asd">Nikoloz's chat.</p>
        </div>
        <p class="description">Experience the future of blockchain with our cutting-edge technology, delivering blazing-fast performance at 120,000 transactions per second (TPS). Our platform combines Proof of Stake consensus with AI-powered data security, ensuring every transaction is not only lightning quick but fully protected. Seamlessly scalable and designed for unlimited speeds, our solution empowers businesses and developers to innovate without limits.</p>
        <div class="buttons">
            <p class="button border-gradient">Get started</p>
            <p class="button" (click)="openPage('https://github.com/nikanatenaze/Chat-Program-WEB')">Learn more</p>
        </div>
    </div>
</section>