<section class="page default-page-background">
  <div class="profile-ui border-gradient" *ngIf="!loading && fetchedUser; else loadingTemplate">
    <p class="title">Profile</p>
    <div class="divider"></div>

    <div class="main-info">
      <div class="input-div">
        <label>Name:</label>
        <input type="text" disabled [value]="fetchedUser.name">
      </div>
      <div class="input-div">
        <label>Email:</label>
        <input type="text" disabled [value]="fetchedUser.email">
      </div>
      <div class="input-div">
        <label>Join Date:</label>
        <input type="text" disabled [value]="fetchedUser.createdAt">
      </div>
      <div class="input-div">
        <label>ID:</label>
        <input type="text" disabled [value]="fetchedUser.id">
      </div>
    </div>

    <div class="buttons">
      <button class="logout-btn">Logout</button>
      <button class="delete-btn">Delete</button>
    </div>
  </div>
</section>

  <ng-template #loadingTemplate>
    <app-loader></app-loader>
  </ng-template>