<section class="content">
    <div class="panel-ui">
        <div class="title">
            <p>Inbox <i class="fa-solid fa-inbox"></i></p>
            <div class="title-buttons">
                <div aria-label="edit">
                    <span>
                        <i class="fa-solid fa-pen-to-square"></i>
                    </span>
                </div>
                <div aria-label="edit">
                    <span>
                        <i class="fa-solid fa-plus" (click)="send()"></i>
                    </span>
                </div>
            </div>
        </div>
        <hr>
        <div class="search">
            <div class="search-input-div">
                <input type="text" placeholder="Search for chats">
            </div>
        </div>
        <div class="chats">
            <div class="chat" *ngFor="let i of userChats$ | async">
                <div class="chat-title">
                    <img src="https://picsum.photos/191/300">
                    <p>{{i.name}}</p>
                </div>
            </div>
        </div>
    </div>
</section>