<nav class="navigaton">
    <div class="navigaton-content">
        <div class="title">
            <p class="title-t" routerLink="/">Nikoloz's Chat</p>
            <div class="line"></div>
            <ul class="buttons">
                <li routerLink="/">Home</li>
                <li routerLink="/messenger">Messenger</li>
                <li (click)="openPage('https://github.com/nikanatenaze/Chat-Program-WEB')">Archive</li>
            </ul>
        </div>

        <!-- Guest panel -->
        <div class="guest-panel" *ngIf="!(auth.userToken$ | async)">
            <div class="gp-button custom-btn-1" routerLink="/login">
                <p>Login <i class="fa-solid fa-user"></i></p>
            </div>
            <div class="gp-button custom-btn-2 border-gradient" routerLink="/register">
                <p>Register →</p>
            </div>
        </div>

        <!-- User panel -->
        <div class="user-panel" *ngIf="auth.userToken$ | async">
            <div class="gp-button custom-btn-1" routerLink="/profile">
                <p>Cabinet <i class="fa-solid fa-user"></i></p>
            </div>
        </div>
    </div>
</nav>