<nav class="navigaton" #navigation>
    <div class="navigaton-content navigaton-content-shadow" #navContent>
        <div class="title">
            <p class="title-t" routerLink="/">Nikoloz's Chat</p>
            <div class="line"></div>
            <ul class="buttons" *ngIf="!(auth.userToken$ | async); else userUl">
                <li routerLink="/">Home</li>
                <li routerLink="/about">About</li>
                <li (click)="openPage('https://github.com/nikanatenaze/Chat-Program-WEB')">Archive</li>
            </ul>
        </div>

        <div class="guest-panel" *ngIf="!(auth.userToken$ | async); else userPanel">
            <div class="gp-button custom-btn-1" routerLink="/login">
                <p>Login <i class="fa-solid fa-user"></i></p>
            </div>
            <div class="gp-button custom-btn-2 border-gradient" routerLink="/register">
                <p>Register →</p>
            </div>
        </div>
    </div>
    <i class="up-down-btn fa-solid fa-chevron-up" (click)="toggleHiddeNav()" #toggleHideButton></i>
</nav>

<ng-template #userPanel>
    <div class="user-panel" *ngIf="auth.userToken$ | async">
        <div class="gp-button custom-btn-1" routerLink="/profile">
            <p>Profile <i class="fa-solid fa-user"></i></p>
        </div>
    </div>
</ng-template>

<ng-template #userUl>
    <ul class="buttons" *ngIf="auth.userToken$ | async">
        <li routerLink="/">Home</li>
        <li routerLink="/chats">Chats</li>
        <li (click)="openPage('https://github.com/nikanatenaze/Chat-Program-WEB')">Archive</li>
    </ul>
</ng-template>